compose/.env
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl.bak
node_modules/
dist/
.DS_Store
charts/*/charts/
charts/*/Chart.lock
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/**/*.tfstate*
terraform/**/backend.hcl
kubeconfig*
